body{
  background-image: url("../images/hypnotize.png");
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  color: #777777;
}

h1{
  font-size: 48px;
  color: #4aaaa5;
}

h2{
  font-size: 32px;
  color: #4aaaa5;
}

#h1_white{
  color: white;
}

a{
  text-decoration: none;
  color: #777777;
}

hr{
  border-width: 3px;
}

#img_bio{
  height: 260px;
  margin-right: 10px;
  float: left;
}

.p_bio{
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  padding-left: 5px;
}

form{
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
}

input{
  width: 95%;
  padding: 10px 20px;
  margin: 10px;
  display: inline-block;
  border: 1px solid #777777;
}

#form_msg{
  height: 150px;
}

.wrapper{
  /*border-style: solid;*/
  /*border-width: 2px;*/
  /*border-color: green;*/
  width: 960px;
  margin: 20px auto;
}

header{
  /*border-style: solid;*/
  border-bottom: solid;
  border-width: 5px;
  border-color: #cccccc;
  padding-bottom: 50px;
  width: 100%;
  background: #ffffff;
}

#name{
  /*border-style: solid;*/
  /*border-width: 2px;*/
  /*border-color: red;*/
  background: #4aaaa5;
  color: black;
  float: left;
  width: 400px;
  text-align: center;
  padding-top: 6px;
  /*margin-top: 20px;*/
}

#nav{
  /*border-style: solid;*/
  /*border-width: 2px;*/
  /*border-color: orange;*/
  float: right;
  padding-top: 15px;
  padding-right: 30px;
}

#content{
  border-style: solid;
  border-width: 1px;
  border-color: #777777;
  width: 650px;
  float: left;
  margin-top: 20px;
  padding: 20px 5px 20px 5px;
  background: #ffffff;
}

#aside{
  border-style: solid;
  border-width: 1px;
  border-color: #777777;
  width: 270px;
  float: right;
  padding: 20px 5px 20px 5px;
  margin-top: 20px;
  background: #ffffff;
  text-align: center;
}

#footer{
  border-top: solid;
  border-width: 5px;
  border-color: #4aaaa5;
  float: left;
  width: 95%;
  padding: 20px;
  margin-top: 20px;
  margin-left: 0px;
  text-align: center;
  background-color: #666666;
  color: white;
}
